.login-modal {
    width: 600px;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  

  
  /* Social login buttons */
  .social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .social-login button {
    flex: 1;
    margin: 0 5px;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
  }
  
  .facebook-login {
    background-color: #3b5998;
  }
  
  .gmail-login {
    background-color: #db4437;
  }
  
  /* Form styles */
  .login-form label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .checkbox-container {
    width: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox-container input {
    margin-right: 10px;
    
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #fcb017;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .guest-btn {
    width: 100%;
    padding: 10px;
    background-color: #007f6c;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }


  .footer-container {
    margin: 0px;
    background-color: #007f70; 
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 25px;
    flex-wrap: wrap; 
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    overflow-x: hidden;
  }
  
  .footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    flex: 1;
  }
  
  .footer-links li {
    margin-bottom: 5px; 
  }
  
  .footer-links li::before {
    content: ">> ";
    color: #fffffe; 
    margin-right: 5px;
  }
  
  .footer-links li:hover {
    text-decoration: underline; 
  }
  
  .footer-right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px; 
    flex-wrap: wrap; 
    margin-left: auto;
    flex: 1;
  }
  
  .footer-right img {
    max-height: 40px;
    justify-content: right;
  }
  
  .footer-copy {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    width: 100%;
  }