
  .breadcrumb a {
    color: #fff;
    text-decoration: none;
  }
  
  .breadcrumb span {
    color: #dfe7f1;
  }
  
  /* Main Content */
  .main-content {
    padding: 20px;
  }
  
  .services-section h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
  }
  
  .buttons {
    margin-bottom: 20px;
  }
  
  .buttons button {
    background-color: gray;
    color:black;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttons button:hover {
    background-color: gray;
  }
  
  /* Table Styling */
  .services-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .services-table thead {
    background-color: gray;
    color: black;
  }
  
  .services-table th, .services-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .services-table th {
    font-size: 16px;
  }
  
  .services-table td {
    font-size: 14px;
  }
  



  .footer-container {
    margin: 0px;
    background-color: #007f70; 
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 25px;
    flex-wrap: wrap; 
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    overflow-x: hidden;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    flex: 1;
}

.footer-links li {
    margin-bottom: 5px; 
}

.footer-links li::before {
    content: ">> ";
    color: #fffffe; 
    margin-right: 5px;
}

.footer-links li:hover {
    text-decoration: underline; 
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px; 
    flex-wrap: wrap; 
    margin-left: auto;
    flex: 1;
}

.footer-right img {
    max-height: 40px;
    justify-content: right;
}

.footer-copy {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    width: 100%;
}
